#choropleth_map {left: 100px; right: 100px;}

#bubble_plot {left: 100px; right: 100px;}

#isotype_chart {left: 100px; right: 100px;}

#distribution_area_graph {left: 100px; right: 100px;}

#hybrid_line_graph {left: 100px; right: 100px;}

body {font-family: 'Source Sans Pro', sans-serif;}

