#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#bubble_plot {left: 100px; right: 100px;}

#isotype_chart {left: 100px; right: 100px;}

#distribution_area_graph {left: 100px; right: 100px;}

#hybrid_line_graph {left: 100px; right: 100px;}

body {font-family: 'Source Sans Pro', sans-serif;}

